<h1>Shoe Distribution</h1>

<p>Create a new Store:</p>

<form action="/stores" method="post">
  <label for="name">Name of Store:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Store</button>
</form>

<p>Create a new Brand:</p>

<form action="/brands" method="post">
  <label for="brand-name">Name of Brand:</label>
  <input id="brand-name" name="brand-name" type="text">

  <label for="description">Description of Brand:</label>
  <input id="description" name="description" type="text">

  <button type="submit">Add Brand</button>
</form>

<a href="/stores">View All Stores</a>
<a href="/brands">View All Brands</a>
