<h1>Shoe Distribution</h1>

<p>Create a new Store:</p>

<form action="/stores" method="post">
  <label for="name">Name of Store:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Store</button>
</form>

<a href="/stores">View All Stores</a>
