<% if @stores.any?() %>
<p>Click on a store to see their brands:</p>

<ul>
  <% @stores.each do |store| %>
  <li><a href="/store/<%= store.id() %>"><%= store.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stores yet!</p>
<% end %>

<a href="/">Home</a>
